.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 2rem;
  min-height: 100vh;
}
.posts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
